<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bgcms.dao.CommentMapper">
  <resultMap id="BaseResultMap" type="edu.bgcms.model.comment.Comment">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="img_id" jdbcType="VARCHAR" property="imgId" />
    <result column="to_user_id" jdbcType="VARCHAR" property="toUserId" />
    <result column="from_user_id" jdbcType="VARCHAR" property="fromUserId" />
    <result column="obj_id" jdbcType="VARCHAR" property="objId" />
    <result column="last_id" jdbcType="VARCHAR" property="lastId" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="edu.bgcms.model.comment.Comment">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, img_id, to_user_id, from_user_id, obj_id, last_id, grade, create_time
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from comment
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from comment
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.bgcms.model.comment.Comment">
    insert into comment (uuid, img_id, to_user_id, 
      from_user_id, obj_id, last_id, 
      grade, create_time, content
      )
    values (#{uuid,jdbcType=VARCHAR}, #{imgId,jdbcType=VARCHAR}, #{toUserId,jdbcType=VARCHAR}, 
      #{fromUserId,jdbcType=VARCHAR}, #{objId,jdbcType=VARCHAR}, #{lastId,jdbcType=VARCHAR}, 
      #{grade,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.bgcms.model.comment.Comment">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="imgId != null">
        img_id,
      </if>
      <if test="toUserId != null">
        to_user_id,
      </if>
      <if test="fromUserId != null">
        from_user_id,
      </if>
      <if test="objId != null">
        obj_id,
      </if>
      <if test="lastId != null">
        last_id,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="imgId != null">
        #{imgId,jdbcType=VARCHAR},
      </if>
      <if test="toUserId != null">
        #{toUserId,jdbcType=VARCHAR},
      </if>
      <if test="fromUserId != null">
        #{fromUserId,jdbcType=VARCHAR},
      </if>
      <if test="objId != null">
        #{objId,jdbcType=VARCHAR},
      </if>
      <if test="lastId != null">
        #{lastId,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.bgcms.model.comment.Comment">
    update comment
    <set>
      <if test="imgId != null">
        img_id = #{imgId,jdbcType=VARCHAR},
      </if>
      <if test="toUserId != null">
        to_user_id = #{toUserId,jdbcType=VARCHAR},
      </if>
      <if test="fromUserId != null">
        from_user_id = #{fromUserId,jdbcType=VARCHAR},
      </if>
      <if test="objId != null">
        obj_id = #{objId,jdbcType=VARCHAR},
      </if>
      <if test="lastId != null">
        last_id = #{lastId,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="edu.bgcms.model.comment.Comment">
    update comment
    set img_id = #{imgId,jdbcType=VARCHAR},
      to_user_id = #{toUserId,jdbcType=VARCHAR},
      from_user_id = #{fromUserId,jdbcType=VARCHAR},
      obj_id = #{objId,jdbcType=VARCHAR},
      last_id = #{lastId,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.bgcms.model.comment.Comment">
    update comment
    set img_id = #{imgId,jdbcType=VARCHAR},
      to_user_id = #{toUserId,jdbcType=VARCHAR},
      from_user_id = #{fromUserId,jdbcType=VARCHAR},
      obj_id = #{objId,jdbcType=VARCHAR},
      last_id = #{lastId,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>