<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bgcms.dao.NoticeMapper">
  <resultMap id="BaseResultMap" type="edu.bgcms.model.notice.Notice">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="bg_uuid" jdbcType="VARCHAR" property="bgUuid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="attachmant" jdbcType="VARCHAR" property="attachmant" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, title, bg_uuid, content, creator, createtime, attachmant
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from notice
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from notice
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.bgcms.model.notice.Notice">
    insert into notice (uuid, title, bg_uuid, 
      content, creator, createtime, 
      attachmant)
    values (#{uuid,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{bgUuid,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{attachmant,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.bgcms.model.notice.Notice">
    insert into notice
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="bgUuid != null">
        bg_uuid,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="attachmant != null">
        attachmant,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="bgUuid != null">
        #{bgUuid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="attachmant != null">
        #{attachmant,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.bgcms.model.notice.Notice">
    update notice
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="bgUuid != null">
        bg_uuid = #{bgUuid,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="attachmant != null">
        attachmant = #{attachmant,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.bgcms.model.notice.Notice">
    update notice
    set title = #{title,jdbcType=VARCHAR},
      bg_uuid = #{bgUuid,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      attachmant = #{attachmant,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>