<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bgcms.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="edu.bgcms.model.order.Order">
    <id column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="total_amount" jdbcType="DOUBLE" property="totalAmount" />
    <result column="subject" jdbcType="VARCHAR" property="subject" />
    <result column="body" jdbcType="VARCHAR" property="body" />
    <result column="obj_id" jdbcType="VARCHAR" property="objId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="alipay_id" jdbcType="VARCHAR" property="alipayId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    out_trade_no, total_amount, subject, body, obj_id, user_id, alipay_id, create_time, 
    status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order
    where out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from order
    where out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.bgcms.model.order.Order">
    insert into order (out_trade_no, total_amount, subject, 
      body, obj_id, user_id, 
      alipay_id, create_time, status
      )
    values (#{outTradeNo,jdbcType=VARCHAR}, #{totalAmount,jdbcType=DOUBLE}, #{subject,jdbcType=VARCHAR}, 
      #{body,jdbcType=VARCHAR}, #{objId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{alipayId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.bgcms.model.order.Order">
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="outTradeNo != null">
        out_trade_no,
      </if>
      <if test="totalAmount != null">
        total_amount,
      </if>
      <if test="subject != null">
        subject,
      </if>
      <if test="body != null">
        body,
      </if>
      <if test="objId != null">
        obj_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="alipayId != null">
        alipay_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="outTradeNo != null">
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null">
        #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="subject != null">
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        #{body,jdbcType=VARCHAR},
      </if>
      <if test="objId != null">
        #{objId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="alipayId != null">
        #{alipayId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.bgcms.model.order.Order">
    update order
    <set>
      <if test="totalAmount != null">
        total_amount = #{totalAmount,jdbcType=DOUBLE},
      </if>
      <if test="subject != null">
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="body != null">
        body = #{body,jdbcType=VARCHAR},
      </if>
      <if test="objId != null">
        obj_id = #{objId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="alipayId != null">
        alipay_id = #{alipayId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.bgcms.model.order.Order">
    update order
    set total_amount = #{totalAmount,jdbcType=DOUBLE},
      subject = #{subject,jdbcType=VARCHAR},
      body = #{body,jdbcType=VARCHAR},
      obj_id = #{objId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      alipay_id = #{alipayId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR}
    where out_trade_no = #{outTradeNo,jdbcType=VARCHAR}
  </update>
</mapper>