<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bgcms.dao.UserFBgMapper">
  <resultMap id="BaseResultMap" type="edu.bgcms.model.boardGame.UserFBg">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_uuid" jdbcType="VARCHAR" property="userUuid" />
    <result column="bg_uuid" jdbcType="VARCHAR" property="bgUuid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_uuid, bg_uuid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_f_bg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_f_bg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.bgcms.model.boardGame.UserFBg">
    insert into user_f_bg (id, user_uuid, bg_uuid
      )
    values (#{id,jdbcType=INTEGER}, #{userUuid,jdbcType=VARCHAR}, #{bgUuid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.bgcms.model.boardGame.UserFBg">
    insert into user_f_bg
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userUuid != null">
        user_uuid,
      </if>
      <if test="bgUuid != null">
        bg_uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userUuid != null">
        #{userUuid,jdbcType=VARCHAR},
      </if>
      <if test="bgUuid != null">
        #{bgUuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.bgcms.model.boardGame.UserFBg">
    update user_f_bg
    <set>
      <if test="userUuid != null">
        user_uuid = #{userUuid,jdbcType=VARCHAR},
      </if>
      <if test="bgUuid != null">
        bg_uuid = #{bgUuid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.bgcms.model.boardGame.UserFBg">
    update user_f_bg
    set user_uuid = #{userUuid,jdbcType=VARCHAR},
      bg_uuid = #{bgUuid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>