<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li>
    <div onclick="searchOne(&quot;王大牛&quot;)" style="float:left;"><img
            src="/oa/common/attachment/showImage?id=c0e77776691c400a852372ae5d5a8da8"
            style="width:40px;height:40px;border-radius:40px;"></div>
    <div style="margin-left:50px;margin-bottom:5px;">
        <div class="logName">王大牛<span class="listLogType">普通日志<span></span></span></div>
        <div class="boxTime"><span>2019-05-12 05:49:20</span></div>
    </div>
    <div class="logCont"> <pre>

待做:桌游详情按钮添加提示</pre>
    </div>
    <div class="" style="overflow:hidden;"><input type="hidden" class="hdinp" value="1231e576384c439c8f5fa484ec4c098d">
        <p class="lookNum" onclick="lookCont(&quot;1231e576384c439c8f5fa484ec4c098d&quot;,this)"
           style="cursor:pointer;">浏览<span data-look="true">5</span>次</p>
        <p class="iconbox"><span class="dzicon" style=""
                                 onclick="dzNum(&quot;1231e576384c439c8f5fa484ec4c098d&quot;,this)"><i
                class="iconfont icon-dianzan" title="点赞"></i><em class="clickword">1</em></span><span class="plicon"
                                                                                                      onclick="getReply(&quot;1231e576384c439c8f5fa484ec4c098d&quot;,this)"><i
                class="iconfont icon-pinglun" style="vertical-align:middle;" title="评论"></i><em class="plnum"
                                                                                                id="1231e576384c439c8f5fa484ec4c098d">8</em></span>
        </p></div>
    <div id="lookName" class="of"></div>
    <div id="attId1231e576384c439c8f5fa484ec4c098d" class="pl10 of" ids="+res[i].attachmentIds+"></div>
    <div class="plBox" style="">
        <div class="mt10"><textarea name="" class="textval" placeholder="请输入评论内容"></textarea>
            <div class="replyBtnDiv">
                <button type="button" class="btn btn-pl"
                        onclick="myReply(&quot;1231e576384c439c8f5fa484ec4c098d&quot;,this,&quot;4aef5b9189a54cc08993204d8df6c222&quot;)">
                    评 论
                </button>
            </div>
        </div>
        <div class="replyBox"></div>
    </div>
</li>
</body>
</html>